@model List<CategoriaIndexViewModel>

<h2>Lista de categorias</h2>

<div class="row">
    <div class="col">
        <a class="btn btn-primary float-end" href="categoria/novo">
            <i class="fa-solid fa-plus"></i> Nova categoria
        </a>
    </div>
</div>

<table class="table table-bordered table-striped mt-2">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>@categoria.Id</td>
                <td>@categoria.Nome</td>
                <td>
                    <a href="/categoria/editar?id=@categoria.Id" class="btn btn-primary">
                        <i class="fa-solid fa-pencil"></i> Editar
                    </a>
                    <a href="/categoria/apagar?id=@categoria.Id" class="btn btn-outline-danger">
                        <i class="fa-solid fa-trash"></i> Apagar
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
