@model CategoriaCadastrarViewModel

<h2>Cadastro de categoria</h2>


<form asp-controller="Categoria" asp-action="Novo" method="POST">

    <div>
        <label class="form-label" asp-for="Nome"></label>
        <input class="form-control" asp-for="Nome" />
        <span class="text-danger" asp-validation-for="Nome"></span>
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success float-end" type="submit">
                <i class="fa-solid fa-floppy-disk"></i> Cadastrar
            </button>
        </div>
    </div>

</form>