<h2>Cadastro de categoria</h2>


<form asp-controller="Categoria" asp-action="Novo" method="POST">

    <div>
        <label class="form-label" for="categoria-nome">Nome</label>
        <input class="form-control" type="text"
               id="categoria-nome" name="nome" required="required" />
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success float-end" type="submit">
                <i class="fa-solid fa-floppy-disk"></i> Cadastrar
            </button>
        </div>
    </div>

</form>