@model ProdutoCadastrarViewModel
<form method="POST" asp-action="Novo" enctype="multipart/form-data">
    <div>
        <label class="form-label" asp-for="Nome"></label>
        <input class="form-control" asp-for="Nome" />
        <span class="text-danger" asp-validation-for="Nome"></span>
    </div>
    <div>
        <label class="form-label" asp-for="CategoriaId"></label>
        <select class="form-control" asp-for="CategoriaId" asp-items="@ViewBag.CategoriaDtos">
            <option disabled="disabled" selected="selected">Selecione uma categoria</option>
        </select>
        <span class="text-danger" asp-validation-for="CategoriaId"></span>
    </div>
    <div>
        <label class="form-label" asp-for="PrecoUnitario"></label>
        <input class="form-control" asp-for="PrecoUnitario" />
        <span class="text-danger" asp-validation-for="PrecoUnitario"></span>
    </div>
    <div>
        <label class="form-label" asp-for="DataVencimento"></label>
        <input class="form-control" asp-for="DataVencimento" />
        <span class="text-danger" asp-validation-for="DataVencimento"></span>
    </div>
    <div>
        <label class="form-label" asp-for="Arquivo"></label>
        <input class="form-control" asp-for="Arquivo" />
        <span class="text-danger" asp-validation-for="Arquivo"></span>
    </div>
    <div>
        <label class="form-label" asp-for="Observacao"></label>
        <textarea class="form-control" asp-for="Observacao"></textarea>
        <span class="text-danger" asp-validation-for="Observacao"></span>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success float-end" type="submit">
                <i class="fa-solid fa-floppy-disk"></i> Cadastrar
            </button>
        </div>
    </div>
</form>