<h2>Calcular IMC com método GET</h2>
<form action="/calculadora/processImc" method="get">
    <div>
        <label for="campo-nome">Nome</label>
        <input type="text" name="nome" id="campo-nome" required="required" />
    </div>
    <div>
        <label for="campo-idade">Idade</label>
        <input type="number" name="idade" id="campo-idade" required="required" />
    </div>
    <div>
        <label for="campo-altura">Altura</label>
        <input type="text" name="altura" id="campo-altura" required="required" />
    </div>
    <div>
        <label for="campo-peso">Peso</label>
        <input type="text" name="peso" id="campo-peso" required="required" />
    </div>

    <div>
        <button type="submit">Calcular</button>
    </div>
</form>


<h2>Calcular IMC com método POST</h2>
<form action="/calculadora/processImc" method="post">
    <div>
        <label for="campo-nome">Nome</label>
        <input type="text" name="nome" id="campo-nome" required="required" />
    </div>
    <div>
        <label for="campo-idade">Idade</label>
        <input type="number" name="idade" id="campo-idade" required="required" />
    </div>
    <div>
        <label for="campo-altura">Altura</label>
        <input type="text" name="altura" id="campo-altura" required="required" />
    </div>
    <div>
        <label for="campo-peso">Peso</label>
        <input type="text" name="peso" id="campo-peso" required="required" />
    </div>

    <div>
        <button type="submit">Calcular</button>
    </div>
</form>