<h2>Some dois números</h2>

<form action="/calculadora/sum" method="get">
    <div class="div-campo-numero">
        <label>Número 01</label>
        <input type="number" name="numero01"/>
    </div>

    <div style="margin-top:5px">
        <!-- css in inline-->
        <label>Número 02</label>
        <input type="number" name="numero02"/>
    </div>

    <button type="submit">Calcular</button>
</form>

<style>
    .div-campo-numero {
        margin-top: 50px;
    }
</style>