<h2>Cadastro de estante</h2>


<form asp-controller="Estante" asp-action="Novo" method="POST">
    <div>
        <label class="form-label" for="estante-nome">Nome</label>
        <input class="form-control" type="text"
               id="estante-nome" name="nome" required="required" />
    </div>
    <div>
        <label class="form-label" for="estante-sigla">Sigla</label>
        <input class="form-control" type="text"
               id="estante-sigla" name="sigla" required="required" />
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success float-end" type="submit">
                <i class="fa-solid fa-floppy-disk"></i> Cadastrar
            </button>
        </div>
    </div>
</form>